.post-detail {
  position: relative;
  z-index: 2000;
  background-color: #fff;
}

.detail-post img{
  width: 100%;
}

.top-borer-1 {
  border-top: #eeeeee solid 6px;
}

.comment-box {
  position: fixed;
  z-index: 3000;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  height: 28px;
  line-height: 28px;
  padding: 6px 12px;
  border-top: 1px solid #eeeeee;
  background-color: #fff;
  box-shadow:  5px -5px 10px #f7f7f7;
}

.comment-box-L {
  flex: 1;
}
.comment-box-R {
  /*width: 38px;*/
  text-align: center;
}

.comment-item {
  padding: 6px;
  border-bottom: 1px solid #eeeeee;
}

.comment-user {
  padding: 6px 0;
}
.comment-content img {
  width: 24px;
}

.comment-img img {
  width: 100%;
}


.comment-action-bar {
  padding: 6px 0;
  display: flex;
}
.action-bar-L {
  flex: 1;
}

.editor-box {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 24px;
  background-color: #fff;

  /*box-shadow:  5px -5px 1px #fafafa;*/
  border-top: 1px solid #fafafa;
}
.editor-inp {
  padding: 6px 0;
}

.editor-action-box {
  display: flex;
  padding: 6px 0;
}
.safari-style {
  margin-bottom: 24px;
}
.editor-action-box-L {
  flex: 1;
}
.editor-action-box-L > span {
  margin-right: 12px;
}


